@media screen and (max-width: 800px) {
    input {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
    h1{
        width: 80%;
    }
    #seloptions{
        width: 80%;
    }
  }

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    background-color: rgba(0, 0, 255, 0.774);
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}
h1{
    color: rgb(121, 0, 235);
    background-color: bisque;
    box-shadow: 5px 5px 5px 5px grey;
    padding: 10px;
}
.wrapper{
    background-color: whitesmoke;
    border: none;
    width: 50vw;
    height: 90vh;
    padding: 15px;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 15px 15px grey;
}

label{
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    width:35%;
    height: 90%;
}
#number_info{
    margin: 1rem;
    width: 25rem;
    height: 4em;
}
input{
    width: 20%;
    height: 20%;
}

input::placeholder{
    text-align: center;
}

#seloptions{
    margin-left: 13rem;
    margin-top: 2rem;
    width: 10rem;
    height: 3rem;
}

input[type=submit]{
    margin: 3rem;
    color: aliceblue;
    width: 30%;
    height: 20%;
}
input[type=clear]{
    color: aliceblue;
    width: 30%;
    height: 20%;
}
#rescontainer{
    font-size: larger;
    margin: 10rem;
    padding: 2rem;
    border-radius: 30%;
    border: dotted 2px black;
    box-shadow: 4px 2px 4px grey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}